/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f5f5dc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #6D4931;
    line-height: 1.5em;
    font-size: 25px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

a {
    color: #6D4931;
}


a:active {
    color: #6D4931;
}

button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #d0b8ac;
    color: #6D4931;
    /* text-decoration: none; */
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #d0b8ac;
    color: #6D4931;
    /* text-decoration: none; */
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

button:hover {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    background-color: #d0b8ac7f;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-right: 3px solid rgba(0, 0, 0, 0.1);
}

button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    background-color: #d0b8ac7f;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    background-color: #d0b8ac7f;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.button:hover {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    background-color: #d0b8ac7f;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-right: 3px solid rgba(0, 0, 0, 0.1);
}


#logo {
    height: 100px;
    width: auto;
}

h1 {
    font-weight: bold;
    font-size: 50px;
}

/* **********************************PROFILE**************************************** */
.profile__portrait {
    float: left;
    width: 10em;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}

.profile__text,
.profile__heading {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100px;
    flex: 1 1 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile:last-child {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    text-align: right;
}

#letstalk,
#resume {
    margin-top: 20px;
    padding: 10px 10px;
    text-decoration: none;
}


/* **********************************HEADER**************************************** */
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-header__item:last-child {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    text-align: right;
}

nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 25px;
    overflow-y: hidden;
    -webkit-transition: 1s cubic-bezier(.68, -0.55, .27, 10.55);
    -o-transition: 1s cubic-bezier(.68, -0.55, .27, 10.55);
    transition: 1s cubic-bezier(.68, -0.55, .27, 10.55);
}

nav li {
    padding: undefined;
}

@media all and (max-width: 500px) {
    .navlist {
        display: none;
    }
}

.navlist a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.navlist a:before {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #424A26;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navlist a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #424A26;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navlist a:before {
    top: 0px;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.navlist a:after {
    bottom: 0px;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.navlist a:hover:before,
.navlist a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}


nav .menu {
    width: 22px;
    height: 16px;
    cursor: pointer;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin: 20px;
}

nav .menu span {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: #d0b8ac;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

nav .menu.active span {
    background: #d0b8ac;
}

nav .menu.active span:nth-child(1) {
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

nav .menu.active span:nth-child(3) {
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

@media (max-width: 910px) {
    nav .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    nav ul {

        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

        -ms-flex-direction: column;

        flex-direction: column;
        background: undefined;
        position: absolute;
        width: 100%;
        left: 0;
        top: 56px;
        height: 0px;
        -webkit-transition: 1s cubic-bezier(.68, -0.55, .27, 1.55);
        -o-transition: 1s cubic-bezier(.68, -0.55, .27, 1.55);
        transition: 1s cubic-bezier(.68, -0.55, .27, 1.55);
    }

    @media (max-width: 910px) {

        nav ul {
            height: 0px;
        }
    }

    nav ul.active {

        -webkit-transition: 1s ease;

        -o-transition: 1s ease;

        transition: 1s ease;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        width: 100%;
        text-transform: capitalize;
    }
}


/* *********************************WORK**************************************** */
.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    padding: 20px;
    background-color: bisque;
    margin-right: 10px;
    margin-left: 10px;
}

.project-name {
    font-family: bold;
    margin-bottom: 10px;
}


.project-title {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }

}

@media all and (max-width: 750px) {
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }

    .grid {
        grid-gap: 10px;
    }
}

/* *************************************ABOUT CONTACT*********************************** */
.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: space-around;
    -ms-flex-align: space-around;
    align-items: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact__mycontact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.contact__mycontact-item {
    padding: 10px;
}

.contact__message-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#resume {
    margin: 10px;
}

#resume-button {
    text-decoration: none;
}

/*****************************FOOTER******************************** */
.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
