* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f5f5dc;
    --secondary-color: #6D4931;
    --button-color: #d0b8ac;
    --button-color-hover: #d0b8ac7f;
    --button-border: 2px solid rgba(0, 0, 0, 0.1);
    --button-border-hover: 3px solid rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--secondary-color);
    line-height: 1.5em;
    font-size: 25px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

a {
    color: var(--secondary-color);
}

a:active {
    color: var(--secondary-color);
}

button,
.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--button-color);
    color: var(--secondary-color);
    /* text-decoration: none; */
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: var(--button-border);
    border-right: var(--button-border);
    transition-duration: 0.2s;
    transition-property: opacity;
}

button:hover,
button:focus,
.button:focus,
.button:hover {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    background-color: var(--button-color-hover);
    border-bottom: var(--button-border-hover);
    border-right: var(--button-border-hover);
}


#logo {
    height: 100px;
    width: auto;
}

h1 {
    font-weight: bold;
    font-size: 50px;
}

/* **********************************PROFILE**************************************** */
.profile__portrait {
    float: left;
    width: 10em;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}

.profile__text,
.profile__heading {
    flex: 1 1 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile:last-child {
    flex-grow: 0;
    text-align: right;
}

#letstalk,
#resume {
    margin-top: 20px;
    padding: 10px 10px;
    text-decoration: none;
}


/* **********************************HEADER**************************************** */
.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

.page-header__item {
    display: flex;
    align-items: center;
}

.page-header__item:last-child {
    flex-grow: 0;
    text-align: right;
}

nav ul {
    --padding: 20px;
    --font-size: 25px;

    list-style: none;
    display: flex;
    align-items: center;
    font-size: var(--font-size);
    overflow-y: hidden;
    transition: 1s cubic-bezier(.68, -0.55, .27, 10.55);
}

nav li {
    padding: var(--padding);
}

@media all and (max-width: 500px) {
    .navlist {
        display: none;
    }
}

.navlist a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.navlist a:before,
.navlist a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navlist a:before {
    top: 0px;
    transform: translateY(10px);
}

.navlist a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.navlist a:hover:before,
.navlist a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}


nav .menu {
    width: 22px;
    height: 16px;
    cursor: pointer;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 20px;
}

nav .menu span {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: var(--button-color);
    transition: 0.3s ease;
    transform-origin: left;
}

nav .menu.active span {
    background: var(--button-color);
}

nav .menu.active span:nth-child(1) {
    transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
    transform-origin: left;
}

nav .menu.active span:nth-child(3) {
    transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
    transform: scale(0);
}

@media (max-width: 910px) {
    nav .menu {
        display: flex;
    }

    nav ul {
        --height: 0px;

        flex-direction: column;
        background: var(--nav-bg);
        position: absolute;
        width: 100%;
        left: 0;
        top: 56px;
        height: var(--height);
        transition: 1s cubic-bezier(.68, -0.55, .27, 1.55);
    }

    nav ul.active {
        --height: calc((((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber));

        transition: 1s ease;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        width: 100%;
        text-transform: capitalize;
    }
}


/* *********************************WORK**************************************** */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    padding: 20px;
    background-color: bisque;
    margin-right: 10px;
    margin-left: 10px;
}

.project-name {
    font-family: bold;
    margin-bottom: 10px;
}

.project-title {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }

}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

}

@media all and (max-width: 750px) {
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }

    .grid {
        grid-gap: 10px;
    }
}

/* *************************************ABOUT CONTACT*********************************** */
.about {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

.contact__mycontact {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.contact__mycontact-item {
    padding: 10px;
}

.contact__message-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

#resume {
    margin: 10px;
}

#resume-button {
    text-decoration: none;
}

/*****************************FOOTER******************************** */
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
