* {
    box-sizing: border-box;
}

:root {
    --primary-color: #fcfcfca9;
    --secondary-color: #4B2E83;
    --button-color: #9d82cbba;
    --button-color-hover: #B39DDB;
    --button-border: 4px solid rgba(0, 0, 0, 0.1);
    --button-border-hover: 4px solid rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--primary-color);
    font-family: 'Tahoma';
    font-weight: 200;
    color: var(--secondary-color);
    line-height: 1.5em;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    color: var(--secondary-color);
}

a:active {
    color: var(--secondary-color);
}

button,
.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--button-color);
    color: var(--secondary-color);
    /* text-decoration: none; */
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 1.5em;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: var(--button-border);
    border-right: var(--button-border);
    transition-duration: 0.2s;
    transition-property: opacity;
}

button:hover,
button:focus,
.button:focus,
.button:hover {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    background-color: var(--button-color-hover);
    border-bottom: var(--button-border-hover);
    border-right: var(--button-border-hover);
}


h1 {
    font-weight: bold;
    font-size: 50px;
}

/* **********************************PROFILE**************************************** */
.profile__portrait {
    float: left;
    width: 10em;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}

.profile__text,
.profile__heading {
    flex: 1 1 100px;
    padding: 5px;
}

.profile:last-child {
    flex-grow: 0;
    text-align: right;
}

#letstalk,
#resume {
    margin-top: 20px;
    padding: 10px 10px;
    text-decoration: none;
}

@media all and (max-width: 700px) {
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ;

    .profile img {
        order: 1;
    }

    ;

    .profile h1 {
        order: 2;
        font-size: 50px;
        font-weight: bolder;
    }

    ;

    .profile__text-container {
        order: 3;
        margin: 10px;
    }

    ;

}


/* **********************************HEADER**************************************** */
.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

.page-header__item {
    display: flex;
    align-items: center;
}

.page-header__item:last-child {
    flex-grow: 0;
    text-align: right;
}

/*nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}cyj*/



/* menu code */

nav ul {
    --padding: 20px;
    --font-size: 25px;

    list-style: none;
    display: flex;
    align-items: center;
    font-size: var(--font-size);
    overflow-y: hidden;
    transition: 1s cubic-bezier(.68, -0.55, .27, 10.55);
}

nav ul li {
    padding: var(--padding);
}

.navlist a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.navlist a:before,
.navlist a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navlist a:before {
    top: 0px;
    transform: translateY(10px);
}

.navlist a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.navlist a:hover:before,
.navlist a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}


nav ul.active {
    --height: calc((((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber));

    transition: 1s ease;
}


/* end menu code */




/* hamburger code  */
nav .menu {
    width: 22px;
    height: 16px;
    cursor: pointer;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 20px;
}

nav .menu span {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: var(--button-color);
    transition: 0.3s ease;
    transform-origin: left;
}

nav .menu.active span {
    background: var(--button-color);
}

nav .menu.active span:nth-child(1) {
    transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
    transform-origin: left;
}

nav .menu.active span:nth-child(3) {
    transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
    transform: scale(0);
}

/* end hamburger code  */


@media (max-width: 910px) {
    nav .menu {
        display: flex;
    }

    .navlist {
        display: none;
    }

    .navlist.active {
        display: flex;
    }

    nav ul {
        --height: 0px;
        flex-direction: column;
        background: var(--button-color);
        position: absolute;
        width: 100%;
        left: 0;
        top: 80px;
        /*56px;*/
        height: var(--height);
        transition: 1s cubic-bezier(.68, -0.55, .27, 1.55);
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        width: 100%;
        text-transform: capitalize;
    }
}



/* *********************************WORK**************************************** */
.project {
    margin-left: 20px;
    margin-right: 20px;
}

.card-wide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 4rem -0.5rem;
}

.card-image,
.card-content {
    padding-right: 1rem;
    padding-left: 1rem;
}

.card-wide:nth-of-type(even) {
    flex-wrap: wrap-reverse;
}

.card-wide:nth-of-type(even) .card-image {
    order: 1;
}

.card-image {
    flex: 1;
    margin: auto;
}

.card-image a {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 500px;
    min-width: 300px;
    margin: auto 0;
}

.card-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.card-image a:hover::before {
    opacity: 0.75;
}

.card-image img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.card-content {
    flex: 1;
    min-width: 300px;
}

.card-wide h3 {
    margin: 0;
}

.flat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flat-list>li {
    display: inline-block;
    margin-bottom: 0.8rem;
}

.chips-list li {
    border: 2px solid;
    border-radius: 7rem;
    font-family: "Tahoma", sans-serif;
    font-size: 1.4rem;
    text-transform: lowercase;
    padding: 0.4rem 0.8rem;
    margin-right: 0.8rem;
    margin-top: 0.4rem;
}


/* *************************************ABOUT CONTACT*********************************** */
.about {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

.contact__mycontact {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.contact__mycontact-item {
    padding: 10px;
}

.contact__message-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

#resume {
    margin: 10px;
}

#resume-button {
    text-decoration: none;
}

/*****************************FOOTER******************************** */
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-media {
    margin-top: 10px;
    margin-bottom: 10px;
}
